.emojis {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  max-width: 1000px;
}

.emoji {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
}
h1 {
  padding: 5px;
}

h2 {
  display: flex;
  padding: 10px;
  margin-top: 100px;
  position: relative;
  border-bottom: 2px solid grey;
  text-align: left;
  width: 90%;
}
a {
  display: flex;
  color: white;
  padding: 10px;
  align-self: bottom;
  border: 1px solid black;
  border-radius: 5px;
  background: purple;
  text-decoration: none;
  margin: 10px;
  width: 450px;
}

.icon {
  display: flex;
  margin: 10px;
  align-self: top;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-height: 15vh;
  line-height: 25px;
  font-size: 50px;
}

p {
  padding: 10px;
}

/*
div:nth-child(1) {
  
}

div:nth-child(2) {
  border: 1px solid black;
  border-radius: 10px;
}

div:nth-child(3) {
  border: 1px solid black;
  border-radius: 10px;
}
div:nth-child(4) {
  border: 1px solid black;
  border-radius: 10px;
}*/
